/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

:root {
    --dark: #181818;
    --dark__02: #4C4C4C;
    --gray: #9D9D9D;
    --bg: #F2F0F1;
    --bg_02: #FAFAFA;
    --accent: #DF1E36;
}

body {
    overflow-x: hidden;
}

.indent{
    position: absolute;
    text-indent: -9999px;
}

header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    height: 10rem;
    width: 100%;
    top: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    background: #ffffff;
    border-bottom: 1px solid var(--bg_02);
    position: fixed;
    z-index: 10;
    -webkit-transition: 1s linear;
    -o-transition: 1s linear;
    transition: 1s linear;
    -webkit-animation: opacity 1s linear 1;
            animation: opacity 1s linear 1;
}

header.scroll {
    top: -100%;
}

header .nav_gnb > div {
    position: absolute;
    left: 0;
    top: 10rem;
    width: 100%;
    height: 0rem;
    z-index: -1;
    background-color: #ffffff;
    -webkit-box-shadow: 3px 4px 9px -7px;
            box-shadow: 3px 4px 9px -7px;
    -webkit-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
}

header > h1 {
    background: url(../img/logo.png) no-repeat center;
    background-size: cover;
    width: 10.3rem;
    height: 3.3rem;
    text-indent: -9999px;
    margin-left: 16rem;
    margin-top: 4rem;
}

header > .nav_gnb > ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 4rem;
    margin-right: 16rem;
    font-size: 1.4rem;
}

header > .nav_gnb > ul > li {
    margin-right: 4rem;
    position: relative;
}

header .nav_gnb > ul > .hover > a {
    padding: 1rem;
}

/* 첫 호버 */

header > .nav_gnb > ul > .hover::after {
    content: "";
    display: inline-block;
    width: .8rem;
    height: .8rem;
    background: var(--accent);
    border-radius: 0.5rem;
    position: absolute;
    right: -0.4rem;
    top: -0.2rem;
    opacity: 0;
    -webkit-transition: 0.3s linear;
    -o-transition: 0.3s linear;
    transition: 0.3s linear;
}

header > .nav_gnb > ul > .hover:hover::after {
    opacity: 1;
}

header > .nav_gnb > ul > .text_red > a {
    color: var(--accent);
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    padding: 0;
}

header > .nav_gnb > ul > .text_red > a::after {
    content: "";
    display: inline-block;
    position: absolute;
    bottom: -0.4rem;
    left: 0;
    width: 0;
    height: 0.2rem;
    background: var(--accent);
    -webkit-transition: 0.2s linear;
    -o-transition: 0.2s linear;
    transition: 0.2s linear;
}

header > .nav_gnb > ul > .text_red > a:hover::after {
    width: 100%;    
}

/* 첫 호버 종료 */

header > .nav_gnb > ul > li .drop {
    position: absolute;
    top: 6rem;
    width: 12rem;
    height: 0rem;
    overflow: hidden;
    opacity: 0;
    -webkit-transition: 0.6s;
    -o-transition: 0.6s;
    transition: 0.6s;
    text-align: left;
}

header > .nav_gnb > ul > li .drop > li{
    margin: 2rem 0;
}

header > .nav_gnb > ul > li .drop > li a {
    padding: 1rem;
    position: relative;
}

header > .nav_gnb > ul > li .drop > li a::after {
    content: "";
    display: inline-block;
    position: absolute;
    bottom: 0.6rem;
    left: 1rem;
    width: 0;
    height: 0.2rem;
    background: var(--accent);
    -webkit-transition: 0.2s linear;
    -o-transition: 0.2s linear;
    transition: 0.2s linear;
}

header > .nav_gnb > ul > li .drop > li a:hover::after {
    width: 90%;
}

header > .nav_gnb > ul > .btn_img {
    background: url(../img/jipyong.png) no-repeat center;
    background-size: cover;
    width: 8.6rem;
    height: 2.2rem;
    text-indent: -9999px;
    margin-right: 0;
    cursor: pointer;
}

/* 네비 호버 */

header .nav_gnb:hover > div {
    height: 30rem;
}

header > .nav_gnb:hover > ul > li .drop {
    height: 20rem;
    opacity: 1;
}

/* 네비 호버 종료 */

/* 패럴랙스 섹션 */
.mian_fixed {
    font-weight: 100;
    font-size: 6rem;
    line-height: 8.7rem;
    color: var(--dark__02);
    height: 74rem;
    width: 82%;
    max-width: 156rem;
    margin: 0 auto;
    padding: 0 8%;
    padding-top: 24rem;
    background: #ffffff;
    position: fixed;
}

.mian_fixed > h2 {
    width: 100%;
    padding-bottom: 2.8rem;
    -webkit-animation: fadeUp 1.6s linear 1 1s both;
            animation: fadeUp 1.6s linear 1 1s both;
}

.mian_fixed > p {
    font-size: 1.6rem;
    line-height: 2.3rem;
    padding-left: 1rem;
    padding-bottom: 1rem;
    font-weight: 400;
    -webkit-animation: opacity 1s linear 1 1s both;
            animation: opacity 1s linear 1 1s both;
}

.mian_fixed > .declaration_img {
    background: url(../img/declaration.png) center no-repeat;
    background-size: cover;
    width: 100%;
    max-width: 30rem;
    height: 6.6rem;
    text-indent: -9999px;
    margin-left: auto;
    cursor: pointer;
    -webkit-animation: fadeDown 1.6s linear 1 1s both;
            animation: fadeDown 1.6s linear 1 1s both;
}

/* 패럴랙스 섹션 종료 */

.wrap {
    position: relative;
    top: 74rem;
    z-index: 8;
    background: #ffffff;
    width: 100%;
}

.container {
    max-width: 156rem;
    margin: 0 auto;
    position: relative;
}

.slide_container {
    width: 100%;
    max-width: 180rem;
    margin: 0 auto;
    position: relative;
    cursor: pointer;
    -webkit-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
    top: 0;
    -webkit-transform: scale(1);
        -ms-transform: scale(1);
            transform: scale(1);
    -webkit-animation: opacity 1s linear 1 1.6s both;
            animation: opacity 1s linear 1 1.6s both;
}

.slide_container img {
    width: 100%;
    max-width: 192rem;
    height: 78rem;
    outline: none;
}

/* 스크롤 이벤트 */
.slide_container.on {
    -webkit-transform: scale(1.07);
        -ms-transform: scale(1.07);
            transform: scale(1.07);
}

/* 슬라이더 닷 */
.slide_container .slick-dots {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    bottom: 5.5rem;
    left: 50rem;
}

.slide_container .slick-dots li > button {
    text-indent: -9999px;
    width: 1.4rem;
    height: 1.4rem;
    border-radius: 0.8rem;
    outline: none;
    border: 1px solid var(--accent);
    background: transparent;
    margin-right: 1rem;
    -webkit-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
    cursor: pointer;
}

.slide_container .slick-dots li.slick-active > button{
    background: var(--accent);
    width: 6rem;
}


/* 슬라이더 닷 종료*/

.section_container {
    width: 100%;
    max-width: 156rem;
    margin: 0 auto;
}

.container .box_red {
    width: 100%;
    max-width: 20rem;
    height: 20rem;
    position: absolute;
    top: -4.5rem;
    left: 3.5rem;
    background-repeat: no-repeat;
    background-image:   -webkit-gradient(linear, left top, right top, color-stop(100%, var(--accent)), to(var(--accent))),
                        -webkit-gradient(linear, left top, left bottom, color-stop(100%, var(--accent)), to(var(--accent))),
                        -webkit-gradient(linear, left top, right top, color-stop(100%, var(--accent)), to(var(--accent))),
                        -webkit-gradient(linear, left top, left bottom, color-stop(100%, var(--accent)), to(var(--accent)));
    background-image:   -o-linear-gradient(left, var(--accent) 100%, var(--accent) 100%),
                        -o-linear-gradient(top, var(--accent) 100%, var(--accent) 100%),
                        -o-linear-gradient(left, var(--accent) 100%, var(--accent) 100%),
                        -o-linear-gradient(top, var(--accent) 100%, var(--accent) 100%);
    background-image:   linear-gradient(to right, var(--accent) 100%, var(--accent) 100%),
                        linear-gradient(to bottom, var(--accent) 100%, var(--accent) 100%),
                        linear-gradient(to right, var(--accent) 100%, var(--accent) 100%),
                        linear-gradient(to bottom, var(--accent) 100%, var(--accent) 100%);
    background-size:100% 1px, 1px 100%, 100% 1px, 1px 100%;
    background-position: 0 0, 100% 0%, 100% 100%, 0 100%;
}

.container .box_red.on {
    -webkit-animation: border_box 2s linear 1 both;
            animation: border_box 2s linear 1 both;
}

.container .box_red p {
    width: 100%;
    font-size: 1.8rem;
    color: var(--accent);
    font-weight: 500;
    position: absolute;
    bottom: 3rem;
    left: 3rem;
}

.container .title {
    font-size: 4rem;
    font-weight: 100;
    line-height: 5.8rem;
    color: var(--dark__02);
    padding: 7.5rem 0 21.4rem 37rem;
}

.container .title.on {
    -webkit-animation: fadeUp 1s linear 1 both;
            animation: fadeUp 1s linear 1 both;
}

.container .arrow_red {
    background: url(../img/arrow_big_red.png) center no-repeat;
    background-size: cover;
    text-indent: -9999px;
    max-width: 13.3rem;
    height: 3.4rem;
    margin-top: 8rem;
    cursor: pointer;
}

/* 서비스 효과 섹션 끝 */

/* 소통핫라인 서비스 소개 */
.slide_wrap h4 {
    color: var(--accent);
    font-size: 2.4rem;
    padding-bottom: 3rem;
}

/* 핫라인 서비스 슬라이드 */

.slide_wrap {
    max-width: 180rem;
    margin: 0;
    margin-left: 16rem;
    position: relative;
}

.slide_four_photos .slick-slide {
    margin-right: 20px;
}

/* 핫라인 서비스 슬라이드 끝*/

.slide_wrap .item {
    outline: none;
    cursor: pointer;
}

.slide_wrap .item .opacity,
.slide_wrap .item .opacity_01 {
    opacity: 1;
    -webkit-transition: 2s;
    -o-transition: 2s;
    transition: 2s;
}

.slide_wrap .item .opacity_01.on,
.slide_wrap .item .opacity.on {
    opacity: 0;
}

.slide_wrap .item > figure {
    width: 46rem;
    height: 50.6rem;
    overflow: hidden;
}

.slide_wrap .item > .slide_img img {
    -webkit-transition: 0.3s linear ;
    -o-transition: 0.3s linear ;
    transition: 0.3s linear ;
}

.slide_wrap .item:nth-child(1) > figure.on {
    -webkit-animation: fadeUp 1s linear 1 0.1s both;
            animation: fadeUp 1s linear 1 0.1s both;
}
.slide_wrap .item:nth-child(2) > figure.on {
    -webkit-animation: fadeUp 1s linear 1 0.4s both;
            animation: fadeUp 1s linear 1 0.4s both;
}
.slide_wrap .item:nth-child(3) > figure.on {
    -webkit-animation: fadeUp 1s linear 1 0.7s both;
            animation: fadeUp 1s linear 1 0.7s both;
}
.slide_wrap .item:nth-child(4) > figure.on {
    -webkit-animation: fadeUp 1s linear 1 1s both;
            animation: fadeUp 1s linear 1 1s both;
}

.slide_wrap .item dl {
    text-align: center;
    opacity: 0;
}

.slide_wrap .item:nth-child(1) dl.on {
    -webkit-animation: opacity 1s linear 1 0.4s both;
            animation: opacity 1s linear 1 0.4s both;
}
.slide_wrap .item:nth-child(2) dl.on {
    -webkit-animation: opacity 1s linear 1 0.7s both;
            animation: opacity 1s linear 1 0.7s both;
}
.slide_wrap .item:nth-child(3) dl.on {
    -webkit-animation: opacity 1s linear 1 1s both;
            animation: opacity 1s linear 1 1s both;
}
.slide_wrap .item:nth-child(4) dl.on {
    -webkit-animation: opacity 1s linear 1 1.3s both;
            animation: opacity 1s linear 1 1.3s both;
}

.slide_wrap .item dl > dt {
    font-size: 4rem;
    font-weight: 100;
    padding-top: 3.6rem;
    padding-bottom: 2rem;
}

.slide_wrap .item dl > dd {
    font-size: 1.4rem;
    font-weight: 300;
    color: var(--gray);
    line-height: 2rem;
}

.slide_wrap .item .line {
    height: 2rem;
    width: 1px;
    border-left: 1px solid var(--gray);
    margin: 2rem auto;
}

.slide_wrap .item .num {
    font-size: 1.8rem;
    line-height: 2.6rem;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    color: var(--accent);
}

.slide_wrap .item:nth-child(1) .num.on {
    -webkit-animation: fadeDown 0.5s linear 1 0.4s both;
            animation: fadeDown 0.5s linear 1 0.4s both;
}
.slide_wrap .item:nth-child(2) .num.on {
    -webkit-animation: fadeDown 0.5s linear 1 0.7s both;
            animation: fadeDown 0.5s linear 1 0.7s both;
}
.slide_wrap .item:nth-child(3) .num.on {
    -webkit-animation: fadeDown 0.5s linear 1 1s both;
            animation: fadeDown 0.5s linear 1 1s both;
}
.slide_wrap .item:nth-child(4) .num.on {
    -webkit-animation: fadeDown 0.5s linear 1 1.3s both;
            animation: fadeDown 0.5s linear 1 1.3s both;
}

.slide_wrap .slide_btn {
    position: absolute;
    right: 7rem;
    bottom: 0;
    font-size: 2.5rem;
    color: var(--bg);
    border: 1px solid var(--bg);
    border-radius: 10rem;
}
.slide_wrap .slide_btn:hover {
    color: var(--accent);
    border: 1px solid var(--accent);
}

.slide_wrap .next {
    bottom: -10rem;
}

.slide_wrap .prev {
    bottom: 3rem;
}

/* 서비스 호버 */
.slide_wrap .item:hover > .slide_img > img {
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1);
}

/* 소통핫라인 서비스 소개 끝 */

/* 자주하는 질문 */

.container .bg_red {
    background: var(--accent);
    height: 35rem;
    margin-top: 22rem;
}

.container .bg_red > div {
    text-indent: -9999px;
    background: url(../img/declaration_white.png) center no-repeat;
    background-size: cover;
    width: 52.2rem;
    height: 12.7rem;
    position: relative;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%,-35%);
        -ms-transform: translate(-50%,-35%);
            transform: translate(-50%,-35%);
}

.container .bg_red > div.on {
    -webkit-animation: bgRed 1s linear 1 both;
            animation: bgRed 1s linear 1 both;
}

.container .question {
    background: var(--bg);
    padding-left: 16rem;
    overflow: hidden;
}

.container .question > h2 {
    font-size: 4rem;
    font-weight: 100;
    padding: 11rem 0 8rem 0;
}

.flex_container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.container .question .question_list {
    width: 25%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    border-right: 1px solid var(--gray);
    margin-right: 3rem;
    cursor: pointer;
}

.container .question .list_02 {
    color: var(--accent);
    border: none;
    margin-right: 0;
}


.container .question .question_list > h3 {
    font-size: 2rem;
    width: 70%;
    height: 5rem;
    font-weight: 500;
    padding-bottom: 1rem;
}

.container .question .question_list > p {
    display: inline-block;
    font-size: 1.5rem;
    width: 70%;
    font-weight: 100;
    line-height: 2.2rem;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    word-wrap: break-word;
    word-break: keep-all;
    -o-text-overflow: ellipsis;
       text-overflow: ellipsis;
}

.container .question .question_list.on {
    -webkit-animation: fadeDown 1s linear 1 both;
            animation: fadeDown 1s linear 1 both;
}

.container .question .question_list > .questionList.on {
    -webkit-animation: questionList 1s linear 1 both;
            animation: questionList 1s linear 1 both;
}

.container .question .question_list .arrow_black {
    text-indent: -9999px;
    background: url(../img/arrow.png) center no-repeat;
    background-size: cover;
    width: 2.9rem;
    height: 1rem;
    margin-top: 4.8em;
    position: relative;
    z-index: 2;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

.container .question .question_list .arrow_small_red {
    text-indent: -9999px;
    background: url(../img/arrow_red.png) center no-repeat;
    background-size: cover;
    width: 2.9rem;
    height: 1rem;
    margin-top: 11rem;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}


.container .question .question_list .icon_img {
    text-indent: -9999px;
    background: url(../img/icon.png) center no-repeat;
    background-size: cover;
    width: 24.1rem;
    height: 14.3rem;
    margin-top: 2.2rem;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

.container .question .question_list .icon_img_02 {
    text-indent: -9999px;
    background: url(../img/icon_02.png) center no-repeat;
    background-size: cover;
    width: 24.1rem;
    height: 14.3rem;
    margin-top: 2.2rem;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

.container .question .question_list .icon_img_03 {
    text-indent: -9999px;
    background: url(../img/icon_03.png) center no-repeat;
    background-size: cover;
    width: 24.1rem;
    height: 14.3rem;
    margin-top: 2.2rem;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

/* 호버 */
.container .question .question_list:hover .arrow_small_red,
.container .question .question_list:hover .arrow_black {
    -webkit-transform: translate3d(10px, 0, 0);
            transform: translate3d(10px, 0, 0);
}

.container .question .question_list:hover .icon_img,
.container .question .question_list:hover .icon_img_02,
.container .question .question_list:hover .icon_img_03 {
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1);
}
/* 호버 끝 */

/* 자주하는 질문 끝 */

/* 파트너십 */
.partner_container {
    width: 100%;
    max-width: 1920px;
    margin-top: 25rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.partner_container .partner {
    background: url(../img/partner.jpg) center no-repeat;
    background-size: cover;
    width: 50%;
    max-width: 96rem;
    height: 66rem;
    text-indent: -9999px;
}

.partner_container .partner.on {
    -webkit-animation: fadeUp 1s linear 1 both;
            animation: fadeUp 1s linear 1 both;
}

.partner_container .partner_info {
    width: 50%;
    height: 98rem;
    background: var(--bg_02);
    color: #181818;
}

.partner_container .partner_info.on {
    -webkit-animation: fadeDown 1s linear 1 both;
            animation: fadeDown 1s linear 1 both;
}

.partner_container .partner_info h3 {
    font-size: 4rem;
    font-weight: 100;
    line-height: 5.8rem;
    text-align: center;
    padding: 20rem 37.6rem 2rem 37.6rem;
}

.partner_container .partner_info p {
    width: 100%;
    text-align: center;
    font-size: 1.8rem;
    line-height: 2.6rem;
    font-weight: 300;
    color: var(--gray);
    padding-bottom: 24rem;
}

.partner_container .partner_info .partner_btn {
    background: url(../img/partner_btn.png) center no-repeat;
    background-size: cover;
    width: 100%;
    max-width: 32rem;
    height: 3.7rem;
    text-indent:  -9999px;
    margin: 0 auto;
    cursor: pointer;
}

/* 파트너십 끝 */

/* 공지사항 */

.notice {
    width: 100%;
    max-width: 1920px;
    background: url(../img/Notice.jpg);
    padding-top: 43.6rem;
}

.notice.on {
    -webkit-animation: fadeUp 1s linear 1 both;
            animation: fadeUp 1s linear 1 both;
}

.notice > .notice_section {
    height: 62.5rem;
    margin: 0 0 0 16rem;
    background: #ffffff
}

.notice > .notice_section h2 {
    font-size: 4rem;
    font-weight: 100;
    padding: 8rem 0 7rem 16rem;
}

.notice > .notice_section .news_container {
    width: 25%;
    height: 43.4rem;
    padding-left: 16rem;
    cursor: pointer;
} 

.notice > .notice_section .news_container .date {
    font-size: 4rem;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;;
}

.notice > .notice_section .news_container .date .more_notice {
    font-size: 1.8rem;
    font-weight: 500;
    color: var(--accent);
}

.notice > .notice_section .news_container .line {
    width: 100%;
    height: 1px;
    margin: 2.5rem 0 ;
    background: #000000;
}

.notice > .notice_section .news_container .news h3 {
    height: 5.8rem;
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 1.5rem;
    line-height: 2.9rem;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    word-wrap: break-word;
    word-break: keep-all;
    -o-text-overflow: ellipsis;
       text-overflow: ellipsis;
}

.notice > .notice_section .news_container .news p {
    font-size: 1.5rem;
    line-height: 2.2rem;
    font-weight: 100;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    word-wrap: break-word;
    word-break: keep-all;
    -o-text-overflow: ellipsis;
       text-overflow: ellipsis;
}

.notice > .notice_section .news_container .news .arrow_black {
    text-indent: -9999px;
    background: url(../img/arrow.png) center no-repeat;
    background-size: cover;
    width: 2.9rem;
    height: 1rem;
    margin-top: 5rem;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

.notice > .notice_section .news_container .news .arrow_small_red {
    text-indent: -9999px;
    background: url(../img/arrow_red.png) center no-repeat;
    background-size: cover;
    width: 2.9rem;
    height: 1rem;
    margin-top: 30rem;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

/* 공지사항 끝 */

/* 호버 */
.notice > .notice_section .news_container:hover .news .arrow_small_red,
.notice > .notice_section .news_container:hover .news .arrow_black {
    -webkit-transform: translate3d(10px, 0, 0);
            transform: translate3d(10px, 0, 0);
}
/* 호버 끝 */


/* 푸터 */

footer {
    width: 100%;
    max-width: 1920px;
}

footer .footer_nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%;
    height: 8rem;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    border-top: 1px solid var(--gray);
    border-bottom: 1px solid var(--gray);
    margin-top: 3rem;
}

footer .footer_nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-left: 32rem;
    font-size: 1.6rem;
    font-weight: 400;
}

footer .footer_nav ul li {
    margin-right: 3rem;
}

footer .footer_nav ul li:nth-child(5) {
    margin-right: 0;
}

footer .footer_nav .family {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%;
    height: 100%;
    max-width: 32rem;
    font-size: 1.6rem;
    font-weight: 400;
    margin-right: 16rem;
    border-left: 1px solid var(--gray);
    border-right: 1px solid var(--gray);
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

footer .footer_nav .family a {
    margin-left: 2.3rem;
}

.arrow_small {
    display: inline-block;
    text-indent: -9999px;
    background: url(../img/arrow_small.png) center no-repeat;
    background-size: cover;
    width: 0.7rem;
    height: 1.2rem;
    margin-right: 2.3rem;
}

footer .footer_info {
    padding-top: 10rem;
    margin-left: 32rem;
    font-size: 1.4rem;
    font-weight: 100;
    line-height: 2rem;
}

footer .footer_info > h2 {
    text-indent: -9999px;
    background: url(../img/logo.png) center no-repeat;
    background-size: cover;
    width: 10.3rem;
    height: 3.3rem;
    margin-bottom: 3rem;
}

footer .footer_info > ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 2.8rem;
}

footer .footer_info > ul li {
    margin-right: 0.6rem;
}

footer .footer_info > ul li:nth-child(4) {
    margin-right: 0;
}

footer .footer_info .copyright {
    padding-bottom: 6.2rem;
}


/* animations  */

@-webkit-keyframes fadeUp {
    0% {
        -webkit-transform: translateY(4rem);
                transform: translateY(4rem);
        opacity: 0;
    }

    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
                transform: translateY(0);
    }
}

@keyframes fadeUp {
    0% {
        -webkit-transform: translateY(4rem);
                transform: translateY(4rem);
        opacity: 0;
    }

    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
                transform: translateY(0);
    }
}

@-webkit-keyframes fadeDown {
    0% {
        -webkit-transform: translateY(-4rem);
                transform: translateY(-4rem);
        opacity: 0;
    }

    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
                transform: translateY(0);
    }
}

@keyframes fadeDown {
    0% {
        -webkit-transform: translateY(-4rem);
                transform: translateY(-4rem);
        opacity: 0;
    }

    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
                transform: translateY(0);
    }
}

@-webkit-keyframes bgRed {
    0% {
        -webkit-transform: translate(-50%,-35%) translateY(-2rem);
                transform: translate(-50%,-35%) translateY(-2rem);
        opacity: 0;
    }
    100% {
        -webkit-transform: translate(-50%,-35%) translateY(0);
                transform: translate(-50%,-35%) translateY(0);
        opacity: 1;
    }
}

@keyframes bgRed {
    0% {
        -webkit-transform: translate(-50%,-35%) translateY(-2rem);
                transform: translate(-50%,-35%) translateY(-2rem);
        opacity: 0;
    }
    100% {
        -webkit-transform: translate(-50%,-35%) translateY(0);
                transform: translate(-50%,-35%) translateY(0);
        opacity: 1;
    }
}

@-webkit-keyframes questionList {
    0% {
        -webkit-transform: translateY(8rem);
                transform: translateY(8rem);
        opacity: 0;
    }

    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
                transform: translateY(0);
    }
}

@keyframes questionList {
    0% {
        -webkit-transform: translateY(8rem);
                transform: translateY(8rem);
        opacity: 0;
    }

    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
                transform: translateY(0);
    }
}

@-webkit-keyframes opacity {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes opacity {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-webkit-keyframes border_box {
    0% {
        background-size:0% 1px, 1px 0%, 0% 1px, 1px 0% ;
    }

    25% {
        background-size:100% 1px, 1px 0%, 0% 1px, 1px 0% ;
    }

    50% {
        background-size:100% 1px, 1px 100%, 0% 1px, 1px 0% ;
    }

    75% {
        background-size:100% 1px, 1px 100%, 100% 1px, 1px 0% ;
    }

    100% {
        background-size:100% 1px, 1px 100%, 100% 1px, 1px 100% ;
    }
}

@keyframes border_box {
    0% {
        background-size:0% 1px, 1px 0%, 0% 1px, 1px 0% ;
    }

    25% {
        background-size:100% 1px, 1px 0%, 0% 1px, 1px 0% ;
    }

    50% {
        background-size:100% 1px, 1px 100%, 0% 1px, 1px 0% ;
    }

    75% {
        background-size:100% 1px, 1px 100%, 100% 1px, 1px 0% ;
    }

    100% {
        background-size:100% 1px, 1px 100%, 100% 1px, 1px 100% ;
    }
}

/* animations end*/

@media (max-width:1200px) {
    /* header nav */
    header {
        width: 100%;
        max-width: 118rem;
    }

    header > h1 {
        margin-left: 2rem;
    }

    header > .nav_gnb > ul {
        margin-right: 2rem;
    }

    header > .nav_gnb > ul > li {
        margin-right: 2rem;
    }
    /* header nav end */

    
    /* main fixed */
    .mian_fixed {
        font-size: 4rem;
        line-height: 5rem;
        max-width: 118rem;
    }
    /* main fixed end */

    /* wrap_ */
    .wrap {
        max-width: 118rem;
    }

    .container {
        max-width: 118rem;
    }

    .slide_container {
        width: 100%;
        max-width: 118rem;
    }

    .slide_container img {
        max-width: 118em;
        height: initial;
        -webkit-transform: scale(0.97);
            -ms-transform: scale(0.97);
                transform: scale(0.97);
        -o-object-fit: cover;
           object-fit: cover;
    }

    /* 스크롤 이벤트 */
    .slide_container.on {
        -webkit-transform: scale(1.1);
            -ms-transform: scale(1.1);
                transform: scale(1.1);
    }

    /* 슬라이더 닷 */
    .slide_container .slick-dots {
        bottom: 7rem;
        left: 41rem;
    }

    .slide_container .slick-dots li > button {
        width: 0.8rem;
    }

    /* 슬라이더 닷 종료*/

    .section_container {
        max-width: 900rem;
    }

    .container .title {
        font-size: 3rem;
        line-height: 4.8rem;
        padding: 4rem 0 21.4rem 37rem;
    }

    /* 서비스 효과 섹션 끝 */

    /* 소통핫라인 서비스 소개 */

    /* 핫라인 서비스 슬라이드 */

    .slide_wrap {
        max-width: 118rem;
        margin-left: 6rem;
    }

    /* 핫라인 서비스 슬라이드 끝*/

    .slide_wrap .item .opacity,
    .slide_wrap .item .opacity_01 {
        opacity: 1;
        -webkit-transition: 2s;
        -o-transition: 2s;
        transition: 2s;
    }

    .slide_wrap .item .opacity_01.on,
    .slide_wrap .item .opacity.on {
        opacity: 1;
    }

    .slide_wrap .item > figure {
        -o-object-fit: cover;
           object-fit: cover;
        width: 100%;
        max-width: 40rem;
        height: 46rem;
    }

    .slide_wrap .item dl {
        text-align: center;
        opacity: 1;
    }

    .slide_wrap .slide_btn {
        display: none;
    }

    /* 소통핫라인 서비스 소개 끝 */

    /* 자주하는 질문 */

    .container .question {
        padding-left: 6rem;
    }

    .container .question > h2 {
        padding: 6rem 0 8rem 0;
    }

    .container .question .question_list {
        width: 25%;
        margin-right: 2rem;
    }

    .container .question .question_list > h3 {
        font-size: 1.8rem;
        height: 4.4rem;
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        word-wrap: break-word;
        word-break: keep-all;
        -o-text-overflow: ellipsis;
           text-overflow: ellipsis;
    }

    .container .question .question_list .arrow_black {
        display: none;
    }

    .container .question .question_list .arrow_small_red {
        display: none;
    }
      /* 자주하는 질문 끝 */

        
    /* 파트너십 */
    .partner_container {
        max-width: 118rem;
        margin-top: 15rem;
    }

    .partner_container .partner.on {
        -webkit-animation: fadeUp 1s linear 1 both;
                animation: fadeUp 1s linear 1 both;
    }

    .partner_container .partner_info.on {
        -webkit-animation: fadeDown 1s linear 1 both;
                animation: fadeDown 1s linear 1 both;
    }

    .partner_container .partner_info h3 {
        padding: 10rem 0 10rem 0; 
    }

    /* 파트너십 끝 */

    /* 공지사항 */

    .notice {
        max-width: 118rem;
        background: url(../img/Notice.jpg) center no-repeat;
        background-size: cover;
        padding-top: 30rem;
    }


    .notice > .notice_section {
        height: 58.5rem;
        margin: 0 0 0 6rem;
        background: #ffffff
    }

    .notice > .notice_section h2 {
        padding: 4rem 0 7rem 6rem;
    }

    .notice > .notice_section .news_container {
        height: initial;
        padding-left: 6rem;
    } 

    .notice > .notice_section .news_container .date {
        font-size: 2.6rem;
    }

    .notice > .notice_section .news_container .date .more_notice {
        font-size: 1.6rem;
    }

    .notice > .notice_section .news_container .line {
        margin: 2rem 0 ;
    }

    .notice > .notice_section .news_container .news .arrow_small_red {
        margin-top: 27rem;
    }

    /* 공지사항 끝 */

    /* 푸터 */

    footer {
        width: 100%;
        max-width: 118rem;
    }

    footer .footer_nav ul {
        margin-left: 6rem;
        font-size: 1.4rem;
    }

    footer .footer_nav ul li {
        margin-right: 2rem;
    }

    footer .footer_nav .family {
        max-width: 26rem;
        font-size: 1.4rem;
        margin-right: 0rem;
        border-right: none;
    }


    footer .footer_info {
        padding-top: 4rem;
        margin-left: 6rem;
    }

    footer .footer_info > h2 {
        margin-bottom: 2rem;
    }

    footer .footer_info > ul {
        margin-bottom: 2rem;
    }

    footer .footer_info .copyright {
        padding-bottom: 3.2rem;
    }

}


@media (max-width:780px) {
    /* header nav */
    header > h1 {
        margin-left: 1rem;
    }
    header > .nav_gnb {
        display: none;
    }

    header > .nav_gnb > ul {
        margin-right: 1rem;
    }

    header > .nav_gnb > ul > li {
        margin-right: 1rem;
    }
    /* header nav end */

    
    /* main fixed */
    .mian_fixed {
        font-size: 2rem;
        line-height: 3rem;
        max-width: 70rem;
        padding-top: 14rem;
    }
    /* main fixed end */

    /* wrap_ */
    .wrap {
        max-width: 76rem;
        top: 40rem;
    }

    .container {
        max-width: 76rem;
    }

    .slide_container {
        width: 100%;
        max-width: 76rem;
    }

    .slide_container img {
        max-width: 76rem;
    }

    /* 스크롤 이벤트 */
    .slide_container.on {
        -webkit-transform: scale(1.1);
            -ms-transform: scale(1.1);
                transform: scale(1.1);
    }

    /* 슬라이더 닷 */
    .slide_container .slick-dots {
        display: none !important;
    }

    /* 슬라이더 닷 종료*/

    .section_container {
        max-width: 76rem;
    }

    .container .title {
        font-size: 2.6rem;
        line-height: 3.8rem;
        padding: 20rem 0 10rem 3rem;
    }

    .container .arrow_red {
        margin-top: 2rem;
    }

    /* 서비스 효과 섹션 끝 */

    /* 소통핫라인 서비스 소개 */

    /* 핫라인 서비스 슬라이드 */

    .slide_wrap {
        max-width: 46rem;
        margin: 0 auto;
    }

    .slide_wrap .item > figure {
        max-width: 46rem;
    }

    /* 소통핫라인 서비스 소개 끝 */

    /* 자주하는 질문 */
    .container .bg_red {
        display: none;
        margin-top: 10rem;
    }
    .container .question {
        padding-left: 0rem;
    }

    .container .question > h2 {
        padding: 6rem 0 8rem 0;
    }

    .container .question > .flex_container{
        display: block;
    }

    .container .question .question_list {
        width: 46%;
        margin: 0 2%;
        margin-bottom: 2rem;
        float: left;
        border: none;
    }
    
    .container .question .question_list > h3 {
        font-size: 2rem;
        height: 1rem;
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        word-wrap: break-word;
        word-break: keep-all;
        -o-text-overflow: ellipsis;
           text-overflow: ellipsis;
    }

    .container .question .question_list > p {
        display: inline-block;
        font-size: 1.5rem;
        width: 70%;
        font-weight: 100;
        line-height: 2.2rem;
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        word-wrap: break-word;
        word-break: keep-all;
        -o-text-overflow: ellipsis;
           text-overflow: ellipsis;
    }
      /* 자주하는 질문 끝 */

        
   /* 파트너십 */
    .partner_container {
        width: 100%;
        max-width: 76rem;
        display: block;
    }

    .partner_container .partner {
        width: 100%;
        height: 50vh;
    }
    .partner_container .partner_info {
        width: 100%;
        height: 50vh;
    }

    .partner_container .partner_info h3 {
        font-size: 3rem;
        text-align: center;
        padding: 2rem 0 2rem 0
    }

    .partner_container .partner_info p {
        width: 100%;
        font-size: 1.4rem;
        padding-bottom: 6rem;
    }

    /* 파트너십 끝 */

    /* 공지사항 */

    .notice {
        max-width: 100%;
    }
    
    .notice > .notice_section {
        height: initial;
        margin: 0 2%;
    }
    
    .notice > .notice_section h2 {
        font-size: 3rem;
        text-align: center;
        padding: 2rem 0 2rem 0;
    }

    .notice > .notice_section > .flex_container {
        display: block;
    }
    
    .notice > .notice_section .news_container {
        width: 100%;
        max-width: 32rem;
        margin: 0 auto;
        height: 43.4rem;
        padding-left: 0;
    } 
    
    /* 공지사항 끝 */

    /* 푸터 */

    footer {
        width: 100%;
        max-width: 1920px;
    }

    footer .footer_nav {
        display: block;
        height: 14rem;
    }

    footer .footer_nav ul {
        display: block;
        text-align: left;
        margin: 0 auto;
    }

    footer .footer_nav ul li {
        margin: 1rem 0;
    }

    footer .footer_nav .family {
        display: none;
    }

    footer .footer_info {
        padding-top: 2rem;
        margin: 0 auto;
    }

    footer .footer_info > h2 {
        text-indent: -9999px;
        background: url(../img/logo.png) center no-repeat;
        background-size: cover;
        width: 10.3rem;
        height: 3.3rem;
        margin-bottom: 3rem;
    }

    footer .footer_info > ul {
        display: block;
        text-align: 1.4rem;
    }

}